.footer{
    padding: 35px 0px;
    background: #333;
    color: #fff;
}
.container{
    margin: 0px 65px;
    padding: 0px 15px;
}
.container h4 {
 font-size: 1.5rem;
}
.social{
    padding: 10px 10px;
    display: flex;
justify-content: center;
}
.social li {
    display: inline-block;
margin-left: 10px;
}

.footer p{
    font-weight: 300;
}